<a href="https://colab.research.google.com/github/bhavithaJ/PDS-Assignments/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
!pip install pandas numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

##(a) Look for the missing values in all the columns and either impute them (replace with mean,median, or mode) or drop them.

In [28]:
import pandas as pd

# Load dataset
df = pd.read_csv("/content/train (1).csv")


# Check for missing values
missing_info = df.isnull().sum()
print("Missing Values per Column:\n", missing_info)

Missing Values per Column:
 Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [29]:
# Decision on missing values:
# Drop columns with too many missing values (e.g., New_Price).
# Impute missing values in other columns:
#  Use mode for categorical-like data (Mileage, Engine, Power).
#  Use median for numerical data that could have higher variability (Seats).

# Define a threshold for dropping columns (e.g., drop columns with more than 50% missing values)
threshold = 0.5 * len(df)
columns_to_drop = [col for col in df.columns if df[col].isnull().sum() > threshold]

# Drop columns with too many missing values
df.drop(columns=columns_to_drop, inplace=True)
print("Columns dropped due to excessive missing values:", columns_to_drop)

# Impute missing values in remaining columns
for column in df.columns:
    if df[column].isnull().sum() > 0:
        if df[column].dtype == 'object':  # Categorical-like columns
            mode_value = df[column].mode()[0]
            df[column] = df[column].fillna(mode_value)  # Fill with mode
            print(f"Imputed missing values in {column} with mode")
        else:  # Numerical columns
            # Decide between mean or median based on data characteristics
            mean_value = df[column].mean()
            median_value = df[column].median()

            # Choose mean if standard deviation is low, else median
            if df[column].std() / mean_value < 0.1:  # Adjust threshold as needed
                df[column] = df[column].fillna(mean_value)  # Fill with mean
                print(f"Imputed missing values in {column} with mean")
            else:
                df[column] = df[column].fillna(median_value)  # Fill with median
                print(f"Imputed missing values in {column} with median")
print("Remaining missing values:\n", df.isnull().sum())

Columns dropped due to excessive missing values: ['New_Price']
Imputed missing values in Mileage with mode
Imputed missing values in Engine with mode
Imputed missing values in Power with mode
Imputed missing values in Seats with median
Remaining missing values:
 Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

##Justify your action for this task
1. Dropping Columns: If any column has more than 50% missing values, it is likely that these columns do not have enough data to be useful. Hence, dropping them might be the best choice.

2. Imputation for Numerical Columns:

   Mean: If the distribution is normal (low variance relative to the mean), we use the mean, as it represents the central tendency effectively.
   
   Median: If the column has high variability or is skewed, the median is used to avoid skewing the data with extreme values.

3. Imputation for Categorical Columns:

   Mode: For categorical variables, the most common value (mode) is used, as it maintains consistency within the categories.

##(b)Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).

In [30]:
import pandas as pd
import re
def extract_numeric(value):
    if pd.isna(value):  # Check if value is NaN
        return None
    return float(re.sub(r'[^0-9.]', '', value))  # Remove any non-numeric characters

# Apply the extraction function to relevant columns
if 'Mileage' in df.columns:
    df['Mileage'] = df['Mileage'].apply(extract_numeric)

if 'Engine' in df.columns:
    df['Engine'] = df['Engine'].apply(extract_numeric)

if 'Power' in df.columns:
    df['Power'] = df['Power'].apply(extract_numeric)

if 'New_price' in df.columns:
    df['New_price'] = df['New_price'].apply(extract_numeric)

# Display the cleaned dataset
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    13.00  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  Price
0  126.20    5.0  12.50
1   88.70    5.0   4.50
2   88.76    7.0   6.00
3  140.80    5.0  17.74
4   63.10    5.0   3.50

##(c) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [31]:
# One-hot encode 'Fuel_Type' and 'Transmission' columns
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

# Display the transformed dataset
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual
0               False             False                 True
1               False              True                 True
2               False             False                 True
3               False             False                False
4               False             False                 True

##(d) Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.

In [32]:
# Import the datetime module
from datetime import datetime

# Get the current year
current_year = datetime.now().year

# Calculate the age of the car and add it as a new column called 'Car_Age'
df['Car_Age'] = current_year - df['Year']

# Display the updated dataset with the new 'Car_Age' column
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  Car_Age
0               False             False                 True        9
1               False              True                 True       13
2               False             False                 True       12
3               False             False                False       11
4               False             False                 True       11

##(e)  Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset.

In [33]:
# 1. Select specific columns
df_selected = df[['Name', 'Location', 'Year', 'Mileage', 'Kilometers_Driven', 'Owner_Type', 'Price']]

# 2. Filter rows based on a condition (e.g., cars manufactured after 2015)
df_filtered = df[df['Year'] > 2015]

# 3. Rename columns for clarity (e.g., renaming 'Owner_Type' to 'Ownership')
df_renamed = df_filtered.rename(columns={'Owner_Type': 'Ownership'})

# 4. Mutate (create a new column) – adding 'Car_Age' as the car's current age
current_year = pd.Timestamp.now().year
df_renamed['Car_Age'] = current_year - df_renamed['Year']

# 5. Arrange – sort by 'Price' in descending order
df_arranged = df_renamed.sort_values(by='Price', ascending=False)

# 6. Summarize with group by – calculate average price by 'Fuel_Type' (using one-hot encoded columns for fuel type)
# First, we determine the fuel type based on the one-hot encoded columns
df_arranged['Fuel_Type'] = df_arranged[['Fuel_Type_Electric', 'Fuel_Type_Petrol']].idxmax(axis=1)

# Group by 'Fuel_Type' and calculate the average price
df_summary = df_arranged.groupby('Fuel_Type').agg(Avg_Price=('Price', 'mean')).reset_index()

# Display the final outputs for each step
print("Selected Columns:\n", df_selected.head())
print("\nFiltered Rows:\n", df_filtered.head())
print("\nRenamed Columns:\n", df_renamed.head())
print("\nNew Column (Car_Age) Updated:\n", df_renamed[['Year', 'Car_Age']].head())
print("\nArranged by Price:\n", df_arranged[['Name', 'Location', 'Price']].head())
print("\nAverage Price by Fuel Type:\n", df_summary)

Selected Columns:
                                Name    Location  Year  Mileage  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015    19.67
1                      Honda Jazz V     Chennai  2011    13.00
2                 Maruti Ertiga VDI     Chennai  2012    20.77
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013    15.20
4            Nissan Micra Diesel XV      Jaipur  2013    23.08

   Kilometers_Driven Owner_Type  Price
0              41000      First  12.50
1              46000      First   4.50
2              87000      First   6.00
3              40670     Second  17.74
4              86999      First   3.50

Filtered Rows:
     Unnamed: 0                               Name Location  Year  \
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
8           10                   Maruti Ciaz Zeta    Kochi  2018
14          16              Honda Amaze S i-Dtech    Kochi  2016
15          17              Maruti Swift DDiS VDI   Jaipur  2017
26          28                Honda WRV i-VTEC VX    Kochi  2018

    Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
5               36000      First    11.36  2755.0  171.50    8.0  17.50
8               25692      First    21.56  1462.0  103.25    5.0   9.95
14              58950      First    25.80  1498.0   98.60    5.0   5.40
15              25000      First    28.40  1248.0   74.00    5.0   5.99
26              37430      First    17.50  1199.0   88.70    5.0   9.90

    Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  Car_Age
5                False             False                False        8
8                False              True                 True        6
14               False             False                 True        8
15               False             False                 True        7
26               False              True                 True        6

Renamed Columns:
     Unnamed: 0                               Name Location  Year  \
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
8           10                   Maruti Ciaz Zeta    Kochi  2018
14          16              Honda Amaze S i-Dtech    Kochi  2016
15          17              Maruti Swift DDiS VDI   Jaipur  2017
26          28                Honda WRV i-VTEC VX    Kochi  2018

    Kilometers_Driven Ownership  Mileage  Engine   Power  Seats  Price  \
5               36000     First    11.36  2755.0  171.50    8.0  17.50
8               25692     First    21.56  1462.0  103.25    5.0   9.95
14              58950     First    25.80  1498.0   98.60    5.0   5.40
15              25000     First    28.40  1248.0   74.00    5.0   5.99
26              37430     First    17.50  1199.0   88.70    5.0   9.90

    Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  Car_Age
5                False             False                False        8
8                False              True                 True        6
14               False             False                 True        8
15               False             False                 True        7
26               False              True                 True        6

New Column (Car_Age) Updated:
     Year  Car_Age
5   2016        8
8   2018        6
14  2016        8
15  2017        7
26  2018        6

Arranged by Price:
                                              Name    Location   Price
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad  160.00
1457              Land Rover Range Rover Sport SE       Kochi   97.07
1917                           BMW 7 Series 740Li  Coimbatore   93.67
1927                           BMW 7 Series 740Li   Bangalore   93.00
2035                     Mercedes-Benz SLC 43 AMG  Coimbatore   83.96

Average Price by Fuel Type:
             Fuel_Type  Avg_Price
0  Fuel_Type_Electric  18.484468
1    Fuel_Type_Petrol   8.131137